.contact-content {
    margin-top: 108px;
}

.community-card {
    border-left: 1px solid rgba(0,0,0,.125) !important;
    border-right: 1px solid rgba(0,0,0,.125) !important;
    border-top: 1px solid rgba(0,0,0,.125) !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    width: 700px;
    margin: auto;
    margin-bottom: 16px;
    padding: 16px;
    min-height: 172px;

    img {
        width: 140px;
        display: block;
        float: left;
        margin-right: 28px!important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a {
        text-decoration: underline;
    }

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }
}

.community-card-right {
  display: flow-root;
}

.community-address {
    font-style: italic;
}

.community-name {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
}

.community-detail {
    font-size: 16px;
    margin-bottom: 8px;
}