﻿/* -----------------------------------------------------------------------------

    This file should be used to add your own CSS definitions or override
	the existing ones.

----------------------------------------------------------------------------- */

	/* FONT */
	/* body { font-family: 'insert-font-family-name-here', 'Arial', sans-serif; } */

	/* STANDARD LOGO DIMENSIONS */
	.header-branding img { width: 140px; }

	/* LARGE LOGO DIMENSIONS */
	.header-branding.m-large-logo img { width: 200px; }
	/* Scroll down to "MEDIUM DEVICES" to change width of large logo on mobile devices */

	/* your CSS here */
  .sidebar .widget-title { font-size: 0.943em; }

  // Make links visible
  a.visible-link {
  text-decoration: underline; 
  }

  /* Fix bootstrap table/font awesome interop error */
  table td {
    background-color: white !important;
  }
  
  /* fix content box padding */
  .post-list-content {
    padding: 24px 30px 24px 30px;

    img {
      margin: auto;
      display: block;
    }
    // Make links visible
    a {
    text-decoration: underline; 
    }
  }

// Meeting Minutes Table Styles
table.meeting-minutes-table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.meeting-minutes-table td, table.meeting-minutes-table th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.meeting-minutes-table tbody td {
  font-size: 13px;
}
table.meeting-minutes-table tr:nth-child(even) {
  background: #D0E4F5;
}
table.meeting-minutes-table thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.meeting-minutes-table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.meeting-minutes-table thead th:first-child {
  border-left: none;
}

.document-icon {
  display: inline;
}

.official-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.official-title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.official-term {
  font-size: 14px;
  margin: 0;
}

.official-card {
  border-left: 1px solid rgba(0,0,0,.125) !important;
  border-right: 1px solid rgba(0,0,0,.125) !important;
  border-top: 1px solid rgba(0,0,0,.125) !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  width: 350px;
  margin: auto;
  margin-bottom: 16px;

  img {
    width: 50px;
    float: left;
  }
}

.official-card-right {
  display: flow-root;
}

.list-group {
  display: block;
}

/* fix contact card last card bottom border */ 
.list-group-flush:last-child .list-group-item:last-child {
  margin-bottom: 16px;
  border-bottom: 1;
}

.card {
  margin-top: 24px;
}

.card-header {
  border-bottom: 0!important;
  button {
    font-size: 24pt;
    color:black;
    font-weight: bold;
    width: 100%;
  }
}

.footer-copyright {
  text-align: center;
  line-height: 20px;
  margin: 100px 20px;
}

.alert-left {
  float: left;
  margin-right: 8px;
}

.alert-text {
  line-height: 1.25;
}

.alert-button {
  margin-top: 8px;
}

.locale-info-widget .row-title {
  width: 33%!important;
}

/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        LARGE DEVICES
		devices with width between 992px and 1199px
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		/* your CSS here */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		devices with width between 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* LARGE LOGO DIMENSIONS */
		.header-branding.m-large-logo img { width: 140px; }

    /* your CSS here */
    color: red;

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		devices with width between 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		devices with width up to 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* your CSS here */

	}
