* { zoom: 1; }

/* HEADER BG FIX */
.header-image:after { background: url( '../img/header_gradient_iefix.png' ) 0 bottom repeat-x; }

/* FOOTER BG FIX */
.footer-bg:before { background: url( '../img/footer_gradient_iefix.png' ) 0 bottom repeat-x; }