<!-- SCRIPTS : begin-->
{% assign scripts = site.static_files | where: "script", true %}
{% for script_file in scripts %}
  <script src="{{ script_file.path }}"></script>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
<style src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!-- Fix safari navigation bug (TODO make bug) -->
<style>
@media not all and (min-resolution:.001dpcm) { @media {
    .left-column { 
      position:absolute!important;
    }
  }}
</style>

<!-- Start Lightslider (image gallery) -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#lightSlider").lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 0,
    thumbItem: 9
}); 
  });
</script>

<!-- SCRIPTS : end -->
