<ul>
  <li>
    <a href="./">HOME</a>
  </li>
  {% for navigation_group in site.data.navigation %}
  <li>
    <a href="#">{{navigation_group.GROUP_TITLE}}</a>
    {% if navigation_group.GROUP_ITEMS.size > 0 %}
    <!-- Prevents HOME item from having a submenu arrow -->
    <ul>
      {% for navigation_item in navigation_group.GROUP_ITEMS %}
      <li><a href="./{{navigation_item.LOCATION}}">{{navigation_item.LABEL}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

  </li>
  {% endfor %}
</ul>