﻿/*! -----------------------------------------------------------------------------

	TownPress v1.0.3

	This template is coded with SASS (http://sass-lang.com/).
	The CSS was compressed for performance reasons. If you want to add or override
	CSS definitions, please use custom.css file located in "library/css" or check
	the documentation on how to create your custom color scheme.

----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------

	TABLE OF CONTENTS

	1.) Import
	2.) General
	3.) Components
	4.) Header
	5.) Core
	6.) Widgets
	7.) Sidebar
	8.) Footer
	9.) Other
	10.) Responsive
	11.) Print

----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------

    1.) IMPORT

----------------------------------------------------------------------------- */

@import 'import/bootstrap.scss', 'import/font-awesome.scss',
	'import/font-townpress.scss', 'import/owl.carousel.scss',
	'import/magnific-popup.scss', 'import/reset.scss';


/* -----------------------------------------------------------------------------

    2.) GENERAL

----------------------------------------------------------------------------- */

$vs: 24px; // vertical space

	/* -------------------------------------------------------------------------
		MIXINS
	-------------------------------------------------------------------------- */

	// CLEARFIX
	@mixin clearfix {
		&:before,
		&:after { display: table; clear: both; height: 0; content: ''; }
	}

	// DISABLE SELECT
	@mixin disable-select { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

	// FONT AWESOME
	@mixin font-awesome { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

	// FONT TOWNPRESS
	@mixin font-townpress { display: inline-block; font-family: 'townpress'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

	// LIST RESET
	@mixin list-reset { list-style-type: none; margin: 0; padding: 0;
		& > li { list-style-type: none; margin: 0; padding: 0; line-height: 1.2em; }
	}

	// OPACITY
	@mixin opacity ( $value ) { opacity: $value; filter: alpha( opacity = $value * 100 ); }

	// TRANSFORM
	@mixin transform ( $option ) { -webkit-transform: $option; -moz-transform: $option; -ms-transform: $option; -o-transform: $option; transform: $option; }
	@mixin transform-origin ( $option ) { -webkit-transform-origin: $option; -ms-transform-origin: $option; transform-origin: $option; }

    // TRANSITION
	@mixin transition ( $property, $duration, $effect:ease-in-out ){ -webkit-transition: $property $duration $effect; -moz-transition: $property $duration $effect; -ms-transition: $property $duration $effect; -o-transition: $property $duration $effect; transition: $property $duration $effect; }
	@mixin transition-none { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

	/* -------------------------------------------------------------------------
		TYPOGRAPHY
	------------------------------------------------------------------------- */

	body { position: relative; margin: 0; font-size: 16px; font-family: 'Source Sans Pro', Arial, sans-serif;
		-webkit-font-smoothing: antialiased; -ms-word-wrap: break-word; word-wrap: break-word; }

	a { @include transition( all, 200ms ); }
	a, a:hover, a:focus, a:active { text-decoration: none; outline: none; }
	a:hover,
	a:hover:after { text-decoration: underline; }
	a:hover:after { text-decoration: none; }
	abbr { border-bottom: 1px dotted transparent; }
	address { margin-bottom: $vs; }
	blockquote { margin-bottom: $vs; padding-left: 20px; font-size: 1.875em; font-style: italic; border: 5px solid transparent; border-width: 0 0 0 5px; }
	blockquote blockquote { font-size: 1em; }
	blockquote cite { display: block; margin-top: $vs / 2; font-style: normal; font-size: 0.875em; }
	button { background: none; cursor: pointer; outline: 0; @include transition( all, 150ms ); }
	code { padding: 5px; font-family: monospace; border: 1px solid transparent; }
	em { font-style: italic; }
	img { max-width: 100%; height: auto; }
	p { line-height: 1.5em; margin: 0 0 $vs 0; }
	pre { margin-bottom: $vs; padding: 10px; font-family: monospace; border: 1px solid transparent; overflow-x: scroll; }
	q { font-style: italic; }
	strong { font-weight: bold; }
	sub,
	sup { position: relative; top: -0.5em; font-size: 0.750em; vertical-align: top; }
	sub { top: auto; bottom: -0.5em; }
	var { font-style: italic; }

	// HEADINGS
	h1 { margin-bottom: $vs; line-height: 1.2em; font-size: 1.875em; font-weight: bold; }
	h2 { margin-bottom: $vs; line-height: 1.2em; font-size: 1.5em; font-weight: bold; }
	h3 { margin-bottom: $vs; line-height: 1.2em; font-size: 1.125em; font-weight: bold; }
	h4 { margin-bottom: $vs; line-height: 1.2em; font-size: 1.125em; font-weight: bold; }
	h5 { margin-bottom: $vs; line-height: 1.2em; font-size: 1em; }
	h6 { margin-bottom: $vs; line-height: 1.2em; font-size: 0.875em; }

	// DEFINITION LIST
	dl { margin: 0 0 $vs 0; }
	dl > dt { margin-top: 10px; font-weight: bold; }
	dl > dt:first-child { margin-top: 0; }

	// UNORDERED LIST
	ul { margin-bottom: $vs; list-style: disc inside; }
	ul li { position: relative; margin-top: 10px; line-height: 1.5em; }
	ul > li:first-child { margin-top: 0; }
	ul ol,
	ul ul { margin: 10px 0 0 20px; }

	// ORDERED LIST
	ol { margin-bottom: $vs; }
	ol > li { position: relative; margin-top: 10px; list-style-type: decimal; list-style-position: inside; line-height: 1.5em; }
	ol > li:first-child { margin-top: 0; }
	ol ul,
	ol ol { margin: 10px 0 0 20px; }

	// TABLE
	table { margin-bottom: $vs; width: 100%; border-collapse: collapse; }
	table th { padding: 15px 20px 13px 20px; font-weight: bold; text-align: left; text-transform: uppercase; border: 0; }
	table td { padding: 15px 20px 13px 20px; vertical-align: middle; border: 0; }
	table p { margin-bottom: $vs / 2; }
	table p:last-child { margin: 0; }

	/* -------------------------------------------------------------------------
		FORMS
	------------------------------------------------------------------------- */

	form { margin: 0 0 $vs 0; }
	label { display: block; margin-bottom: 3px; font-weight: normal; vertical-align: top; }
	input, textarea, select { position: relative; padding: 12px 15px; width: 100%;
		font-family: inherit; font-size: 16px; outline: 0; border: 0; border-radius: 0;
		@include transition( background-color, 300ms); }
	textarea { max-width: 100%; height: 142px; }
	input[type="checkbox"], input[type="radio"] { margin: 0 4px 0 0; width: auto; }
	input[type="submit"] { display: inline-block; position: relative; top: 0; padding: 12px 20px; width: auto;
		line-height: 1em; font-size: 0.875em; font-weight: bold; text-transform: uppercase; border: 1px solid transparent; cursor: pointer;
		@include transition( all, 200ms ); -webkit-appearance: none; border-radius: 0; }
	input[type="submit"]:active { top: 2px; }
	input[type="file"] { padding: 0; }
	input[type="image"] { width: auto; }
	fieldset legend { display: block; margin: 0 0 $vs 0; text-transform: uppercase; }


	/* -------------------------------------------------------------------------
		UTILITY CLASSES
	------------------------------------------------------------------------- */

	.clearfix:before,
	.clearfix:after { display: table; clear: both; height: 0; content: ''; }
	.embed-media { margin-bottom: $vs; }
	.hidden { display: none; }
	.lead { line-height: 1.5em; font-size: 1.500em; font-weight: 400; }
	.strikethrough { text-decoration: line-through; }
	.valign-middle { vertical-align: middle; }
	.valign-top { vertical-align: top; }
	.valign-bottom { vertical-align: bottom; }


/* -----------------------------------------------------------------------------

    3.) COMPONENTS

----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
		ACCORDION
	------------------------------------------------------------------------- */

	.accordion-items { @include list-reset; margin-top: - ( $vs / 2 ); margin-bottom: $vs / 2;
		> li { position: relative; border-top: 1px solid transparent; }
		> li:first-child { margin-top: 0; border: 0; }
		.accordion-title { position: relative; margin: 0; padding: $vs / 2 30px $vs / 2 0; font-size: 1em; text-transform: uppercase; cursor: pointer; @include transition( background-color, 150ms ); }
		.m-has-icon .accordion-title { padding-left: 30px; }
		.accordion-title .ico { position: absolute; top: 10px; left: 0; font-size: 20px; }
		.accordion-title:after { content: '\f107'; display: block; position: absolute; top: 13px; right: 5px; font-size: 16px; @include font-awesome; }
		> li.m-active .accordion-title:after { content: '\f106'; }
		.accordion-content { display: none; padding-bottom: $vs / 2; line-height: 1.4em; }
		.accordion-content > * { margin: $vs / 2 0 0 0; }
		.accordion-content > *:first-child { margin: 0; }
	}

	/* -------------------------------------------------------------------------
		ALERT MESSAGES
	------------------------------------------------------------------------- */

	.c-alert-message { position: relative; margin: 0 0 $vs 0; padding: 22px 20px 20px 50px;
		.ico { position: absolute; top: 22px; left: 20px; font-size: 24px; }
		.alert-inner { line-height: 1.4em; }
		p { margin: $vs / 2 0 0 0; }
		p:first-child { margin: 0; }
		.alert-close  { position: absolute; top: 10px; right: 10px; }
	}

	/* -------------------------------------------------------------------------
		BUTTON
	------------------------------------------------------------------------- */

	.c-button { display: inline-block; position: relative; top: 0; padding: 12px 20px; width: auto;
		line-height: 1em; font-size: 0.875em; font-weight: bold; text-transform: uppercase; border: 1px solid transparent; cursor: pointer;
		@include transition( all, 200ms );
		&.m-has-icon { padding-left: 42px; }
		.ico { position: absolute; top: 10px; left: 20px; font-size: 18px; }
	}
	.c-button:hover { text-decoration: none; }
	.c-button:active { top: 2px; }

	/* -------------------------------------------------------------------------
		POST LIST
	------------------------------------------------------------------------- */

	.c-post-list { margin-bottom: $vs;

		.c-content-box { padding-left: 0; padding-right: 0; }

		.post-list-inner { position: relative; padding: 0 30px $vs 30px; }
		.ico-shadow { position: absolute; top: -20px; left: -20px; font-size: 120px; @include opacity( .08 ); z-index: 5; }
		.post-list-title { font-weight: normal; text-transform: none; z-index: 10; }
		&.m-has-icon .post-list-title { position: relative; padding-left: 45px; z-index: 10; }
		.post-list-title .ico { position: absolute; top: -2px; left: 0; font-size: 36px; }
		.post-list-content { position: relative; margin: 0 -30px; z-index: 20; }
		.post-image { margin-bottom: $vs; }
		.post-image a { display: block; margin: 0 0 $vs / 2 0; }
		.post-image a:hover { @include opacity( .8 ); }
		.post-title { margin: 0; font-size: 1.5em; }
		.post-date { margin-top: 3px; font-size: 0.875em; }
		.post-date .ico { position: relative; top: 1px; margin-right: 5px; }
		.post-excerpt { margin-top: $vs; }
		.post-core { position: relative; padding: 0 30px; }

		// BRIEF POST
		.post { @include clearfix; position: relative; margin: 7px 30px 0 30px; padding-top: 7px; border-top: 1px solid transparent; }
		.post:first-child { margin-top: 0; border-top: 0; }
		.post .post-title { margin: 0; padding-right: 80px; font-size: 0.875em; font-weight: normal; text-transform: none; }
		.post .post-date { position: absolute; top: 4px; right: 0; margin: 0; font-size: 0.750em; text-align: right; }

		// MORE BUTTON
		.more-btn-holder { margin: 7px 30px 0 30px; padding-top: 8px; border-top: 1px solid transparent; font-size: 0.875em; }
		.more-btn-holder a { position: relative; padding-right: 10px; font-weight: bold; }

	}
	.c-content-box .c-post-list .post-list-inner { padding: 0; }
	.m-no-boxes .c-post-list {
		.post-list-inner { padding: 0; }
		.post-list-content { margin: 0; }
		.post-core { padding: 0; }
		.post,
		.more-btn-holder { margin-left: 0; margin-right: 0; }
	}

	/* -------------------------------------------------------------------------
		CONTAINER
	------------------------------------------------------------------------- */

	.c-container { margin: 0 auto; padding: 0 30px; max-width: 1400px; @include clearfix; }

	/* -------------------------------------------------------------------------
		CONTENT BOX
	------------------------------------------------------------------------- */

	.c-content-box { margin-bottom: $vs; padding: $vs 30px 1px 30px; line-height: 1.4em; overflow: hidden; }
	.c-content-box.m-no-padding { padding: 0; }
	.c-content-box .c-content-box { margin: 0; padding: 0; overflow: visible; }

	/* -------------------------------------------------------------------------
		COUNTER
	------------------------------------------------------------------------- */

	.c-counter { margin-bottom: $vs;
		.counter-data { margin-bottom: $vs / 2; line-height: 1em; font-size: 3em; font-weight: normal; }
		.counter-symbol { font-size: 0.625em; }
		.counter-label { font-weight: normal; }
	}

	/* -------------------------------------------------------------------------
		DEFINITION LIST
	------------------------------------------------------------------------- */

	.c-definition-list {
		dl { @include clearfix; margin-bottom: $vs; }
		dl > dt { float: left; clear: both; margin: 7px 0 0 0; padding: 7px 0 0 0; width: 50%; border-top: 1px solid transparent; }
		dl > dd { float: right; margin: 7px 0 0 0; padding: 7px 0 0 0; width: 50%; text-align: right; border-top: 1px solid transparent; }
		dl > dt:first-of-type,
		dl > dd:first-of-type { margin-top: 0; padding-top: 0; border: 0; }
	}

	/* -------------------------------------------------------------------------
		DIRECTORY
	------------------------------------------------------------------------- */

	.c-directory {
		ul { @include list-reset; }
		.directory-inner { position: relative; }
		.ico-shadow { position: absolute; top: -20px; left: -40px; font-size: 120px; @include opacity( .08 ); z-index: 5; }
		.directory-title { font-weight: normal; text-transform: none; z-index: 10; }
		&.m-has-icon .directory-title { position: relative; padding-left: 45px; }
		.directory-title .ico { position: absolute; top: -2px; left: 0; font-size: 36px; }
		.directory-content { position: relative; z-index: 20; }
		.directory-menu { @include clearfix; }
		.directory-menu > ul > li { margin-bottom: $vs; padding-right: 10px; }
		.directory-menu > ul > li > a { display: block; margin-bottom: 5px; font-weight: bold; text-transform: uppercase; }
		.directory-menu > ul > li > ul > li { font-size: 0.875em; }
		.directory-menu ul > li { margin-top: 7px; }
		.directory-menu ul ul ul { margin-left: 20px; }
		&.m-2-columns .directory-menu > ul > li { float: left; width: 50%; }
		&.m-2-columns .directory-menu > ul > li:nth-child(2n+1) { clear: left; }
		&.m-3-columns .directory-menu > ul > li { float: left; width: 33%; }
		&.m-3-columns .directory-menu > ul > li:nth-child(3n+1) { clear: left; }
		&.m-4-columns .directory-menu > ul > li { float: left; width: 25%; }
		&.m-4-columns .directory-menu > ul > li:nth-child(4n+1) { clear: left; }
	}

	/* -------------------------------------------------------------------------
		FEATURE
	------------------------------------------------------------------------- */

	.c-feature {
		.feature-inner { position: relative; margin-bottom: $vs; padding-left: 50px; }
		.feature-icon { display: block; position: absolute; top: 0; left: 0; font-size: 36px; }
		.feature-title { margin-bottom: $vs / 2; }
		.feature-content > * { margin: $vs / 2 0 0 0; }
		.feature-content > *:first-child { margin: 0; }
	}

	/* -------------------------------------------------------------------------
		GALLERY
	------------------------------------------------------------------------- */

	.c-gallery { margin-bottom: $vs;
		.gallery-images { @include list-reset; @include clearfix; margin: 0 -4px; @include transition( all, 500ms ); @include opacity( 1 ); }
		.gallery-images.m-loading { @include opacity( .5 ); }
		.gallery-images > li { float: left; padding: 4px; width: 100%; }
		.gallery-images > li a img { @include opacity( 1 ); @include transition( all, 200ms ); }
		.gallery-images > li a:hover img { @include opacity( .8 ); }
		.gallery-images.m-2-columns > li { width: 50%; }
		.gallery-images.m-2-columns > li:nth-child(2n+1) { clear: left; }
		.gallery-images.m-3-columns > li { width: 33.3333%; }
		.gallery-images.m-3-columns > li:nth-child(3n+1) { clear: left; }
		.gallery-images.m-4-columns > li { width: 25%; }
		.gallery-images.m-4-columns > li:nth-child(4n+1) { clear: left; }
		.gallery-images.m-5-columns > li { width: 20%; }
		.gallery-images.m-5-columns > li:nth-child(5n+1) { clear: left; }
		.gallery-images img { display: block; }
	}

	/* -------------------------------------------------------------------------
		GOOGLE MAP
	------------------------------------------------------------------------- */

	.c-gmap { margin-bottom: $vs; width: 100%; }
	.gmap-canvas { height: 400px; }
	.gmap-canvas img { max-width: none; }

	/* -------------------------------------------------------------------------
		PAGINATION
	------------------------------------------------------------------------- */

	.c-pagination { margin-bottom: $vs; text-align: right;
		ul { @include list-reset; }
		ul > li { display: inline-block; }
		a { display: block; width: 30px; height: 30px; line-height: 30px; text-align: center; }
		a:hover { text-decoration: none; }
	}

	/* -------------------------------------------------------------------------
		PROGRESS BAR
	------------------------------------------------------------------------- */

	.c-progress-bar { position: relative;
		.progress-bar-inner { margin-bottom: $vs; }
		.progress-bar-title { margin: 0 0 $vs / 2 0; font-size: 1em; }
		.bar-indicator-inner { display: block; width: 0; height: 10px;
			@include transition( width, 300ms ); }
	}

	/* -------------------------------------------------------------------------
		SEARCH FORM
	------------------------------------------------------------------------- */

	.c-search-form { margin: 0;
		.form-fields { position: relative; height: 45px; border: 1px solid transparent; }
		input { padding: 14px 60px 0 15px; width: 100%; line-height: 16px; font-style: italic; vertical-align: top; border: 0; background: none; }
		.submit-btn { position: absolute; top: -1px; right: -1px; padding: 0; width: 45px; height: 45px; line-height: 50px; border: 0; }
		.submit-btn:active { top: 1px; }
		.submit-btn > i { float: none; margin: 0; font-size: 16px; }
	}

	/* -------------------------------------------------------------------------
		SEPARATOR
	------------------------------------------------------------------------- */

	.c-separator { @include clearfix; margin: $vs 0; border: 0; border-top: 1px solid transparent; }
	.c-separator.m-transparent { border: 0; }

	/* -------------------------------------------------------------------------
		SLIDER
	------------------------------------------------------------------------- */

	.c-slider { position: relative; margin-bottom: $vs; background-position: center; background-size: cover; background-repeat: no-repeat;

		.slide-list { position: relative; z-index: 10; }
		.slide { display: none; background-position: center; background-repeat: no-repeat; background-size: cover; }
		.slide:first-child { display: block; }
		.slide-inner { display: table; width: 100%; background-size: contain; background-repeat: no-repeat; }
		.slide-content { display: table-cell; padding: 40px 30px; height: 450px; }
		h1, h2 { font-size: 2.25em; }

		// ARROW NAVIGATION
		.owl-stage-outer { z-index: 10; }
		.owl-nav { position: absolute; bottom: 0; right: 0; z-index: 20; }
		&.m-has-indicator .owl-nav { bottom: 4px; }
		.owl-prev,
		.owl-next { float: left; width: 40px; height: 40px; line-height: 40px; font-size: 24px; text-align: center; }
		.owl-prev i,
		.owl-next i { position: relative; left: 0; @include transition( all, 150ms ); }
		.owl-prev:active:not( .m-disabled ) i { left: -2px; }
		.owl-next:active:not( .m-disabled ) i { left: 2px; }
		.owl-carousel .owl-prev.m-disabled,
		.owl-carousel .owl-next.m-disabled { cursor: auto; }

		// SLIDER INDICATOR
		.slider-indicator { display: block; position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 4px; z-index: 20; }
		.slider-indicator > span { display: block; width: 0; height: 4px; }

	}

	/* -------------------------------------------------------------------------
		SOCIAL ICONS
	------------------------------------------------------------------------- */

	.c-social-icons { @include list-reset;
		> li { display: inline-block; margin: 0 2px; }
		a { display: block; width: 34px; height: 34px; line-height: 34px; font-size: 18px; text-align: center; border-radius: 50%; }
	}

	/* -------------------------------------------------------------------------
		TABS
	------------------------------------------------------------------------- */

	.c-tabs {
		.tabs-inner { margin-bottom: $vs; }
		.tab-list { @include list-reset; @include clearfix; }
		.tab-list > li { display: inline-block; margin: 0 20px $vs / 2 0; padding-bottom: 5px; font-weight: bold; border-bottom: 2px solid transparent; @include transition( all, 300ms ); cursor: pointer; }
		.content-list { @include list-reset; }
		.content-list > li { display: none; }
		.content-list > li.m-active { display: block; }
		.content-list > li > * { margin: $vs / 2 0 0 0; }
		.content-list > li > *:first-child { margin: 0; }
	}

	/* -------------------------------------------------------------------------
		TEAM MEMBER
	------------------------------------------------------------------------- */

	.c-team-member {
		.team-member-inner { position: relative; margin-bottom: $vs; }
		.member-portrait { position: absolute; top: 0; left: 0; width: 100px; }
		.member-name { margin: 0; }
		.member-role { margin: 2px 0 0 0; font-size: 0.875em; font-style: italic; }
		.member-social { @include list-reset; margin-top: $vs / 2; }
		.member-social li { display: inline; margin-right: 5px; font-size: 16px; }
		.member-description > * { margin: $vs / 2 0 0 0; }
	}
	.c-team-member.m-has-portrait .team-member-inner { padding-left: 120px; min-height: 100px; }


/* -----------------------------------------------------------------------------

    4.) HEADER

----------------------------------------------------------------------------- */

#header { position: relative; padding: 0; min-height: 100px; z-index: 30; @include transition( all, 300ms ); }
.m-header-map-active #header { min-height: 520px; }
.header-content { position: relative; z-index: 20; }
.header-content-inner { position: relative; @include clearfix; }

	/* -------------------------------------------------------------------------
		HEADER BRANDING
	------------------------------------------------------------------------- */

	.header-branding { position: relative; float: left; padding: 30px 0; margin: 0; @include transition( margin, 300ms ); }
	.header-branding a { display: inline-block; }
	.header-branding span { display: block; }
	.m-header-map-active .header-branding { margin-top: -400px; }

	/* -------------------------------------------------------------------------
		HEADER TOGGLE
	------------------------------------------------------------------------- */

	.header-toggle-holder { display: none; position: relative; margin-bottom: $vs / 2; }
	.m-has-gmap .header-toggle-holder { padding-right: 50px; }
	.header-toggle { padding: 0 10px; width: 100%; height: 40px; line-height: 40px; text-align: center; vertical-align: top; text-transform: uppercase; }
	.header-toggle i { font-size: 20px; line-height: 40px; vertical-align: top; }
	.header-toggle span { vertical-align: top; }
	.header-toggle .ico-close { display: none; font-size: 13px; }
	.header-toggle.m-active .ico-open { display: none; }
	.header-toggle.m-active .ico-close { display: inline; }
	.header-toggle-holder .header-gmap-switcher { position: absolute; top: 0; right: 0; }

	/* -------------------------------------------------------------------------
		HEADER MENU
	------------------------------------------------------------------------- */

	.header-menu { display: none; margin-bottom: $vs; @include transition( margin, 300ms ); }
	.m-has-standard-menu .header-menu { display: block; float: right; margin-top: 30px; }
	.m-has-standard-menu.m-has-header-tools .header-menu { margin-top: 90px; }
	.m-header-map-active .m-has-header-tools .header-menu,
	.m-header-map-active .header-menu { margin-top: -400px; }
	.header-menu { padding: 0 15px; border-top: 3px solid transparent;

		a { display: block; }
		ul { @include list-reset; }
		> ul > li { display: inline-block; }
		> ul > li > a { padding: 14px 10px; text-transform: uppercase; @include transition-none; }
		> ul > li.m-has-submenu > a { padding-right: 22px; }
		> ul > li.m-has-submenu > a:after { @include font-awesome; content: '\f107'; position: absolute; top: 17px; right: 10px; font-size: 12px; font-weight: normal; }
		li.m-active > a { font-weight: bold; }

		// SUBMENU 1+
		.submenu-toggle { display: none;  }
		ul ul { display: none; position: absolute; left: 0; top: 100%; padding: 5px 15px; width: 220px; z-index: 20; }
		ul ul li { position: relative; border-top: 1px solid transparent; }
		ul ul li:first-child { border: 0; }
		ul ul a { padding: 7px 0; line-height: 1.3em; }
		ul ul .m-has-submenu > a { padding-right: 20px; }
		ul ul .m-has-submenu > a:after { @include font-awesome; content: '\f105'; position: absolute; top: 10px; right: 5px; font-size: 14px; font-weight: normal; }

		// SUBMENU 1
		> ul > li > ul { font-size: 0.875em; }
		> ul > li.m-penultimate > ul,
		> ul > li.m-last > ul { left: auto; right: 0; }

		// SUBMENU 2+
		ul ul ul { left: 100%; top: 0; }
		> ul > li.m-penultimate > ul ul,
		> ul > li.m-last > ul ul { left: auto; right: 100%; }
		ul ul ul ul { left: auto; right: 100%; }

	}

	/* -------------------------------------------------------------------------
		HEADER TOOLS
	------------------------------------------------------------------------- */

	.header-tools { position: absolute; top: 30px; right: 0; }

	// HEADER SEARCH
	.header-search { float: right; margin-left: 20px;
		.c-search-form { margin: 0; }
		.form-fields { height: 40px; border: 0; }
		input { padding-top: 11px; font-size: 14px; line-height: 20px; font-style: italic; }
		.submit-btn { right: 0; top: 0; width: 40px; height: 40px; line-height: 40px; }
		.submit-btn:active { top: 0; }
	}

	// GMAP SWITCHER
	.header-gmap-switcher { display: block; float: right; margin-left: 20px; padding: 0 10px; height: 40px; line-height: 40px; text-align: center; text-transform: uppercase; }
	.header-gmap-switcher i { font-size: 20px; line-height: 40px; vertical-align: top; }
	.header-gmap-switcher span { margin-left: 5px; vertical-align: top; }
	.header-gmap-switcher .ico-close { display: none; font-size: 15px; }
	.header-gmap-switcher.m-active .ico-open { display: none; }
	.header-gmap-switcher.m-active .ico-close { display: inline; }

	// GOOGLE MAP
	.header-gmap { position: absolute; top: -500px; left: 0; right: 0; width: 100%; z-index: 0; @include opacity( 0 );
		@include transition( all, 300ms ); }
	.header-gmap .gmap-canvas { width: 100%; height: 500px; }
	.m-header-map-active .header-gmap { top: 0; @include opacity( 1 ); }

	/* -------------------------------------------------------------------------
		HEADER BG
	------------------------------------------------------------------------- */

	.header-bg { position: absolute; top: 0; left: 0; right: 0; z-index: 10; }

	// HEADER IMAGE
	.header-image { position: relative; height: 500px; z-index: 10; }
	.header-image:after { content: ''; display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 300px; z-index: 20;
		@include transition( height, 300ms ); }
	.header-image .image-layer { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-size: cover; background-position: center 0; background-repeat: no-repeat; }
	.header-image .image-layer:first-child { display: block; }
	.header-image .image-layer.m-active { display: block; z-index: 20; }
	.header-image .image-layer.m-next { display: block; z-index: 10; }


/* -----------------------------------------------------------------------------

    5.) CORE

----------------------------------------------------------------------------- */

#core { position: relative; padding-bottom: $vs / 2; min-height: 460px; z-index: 20; }

	/* -------------------------------------------------------------------------
        PAGE HEADER
    ------------------------------------------------------------------------- */

	#page-header { position: relative; margin: 0 0 $vs 0; padding: 0 30px; }
	#page-header:after { content: ''; display: block; position: absolute; bottom: -10px; left: 50%; margin-left: -5px; width: 0; height: 0;
		border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid transparent; }

	// PAGE TITLE
	.page-title { position: relative; padding: $vs 0; }
	.page-title h1 { margin: 0; }
	.page-title h1 em { font-weight: normal; }
	.m-has-breadcrumbs .page-title { padding-bottom: $vs / 2; border-bottom: 1px solid transparent; }
	.m-has-breadcrumbs .page-title:after { content: ''; display: block; position: absolute; left: 0; bottom: -2px; width: 30px; height: 3px; line-height: 0; }

	// BREADCRUMBS
	.breadcrumbs { padding: 10px 0; font-size: 0.875em;  }
	.breadcrumbs > ul { @include list-reset; @include clearfix; }
	.breadcrumbs > ul > li { display: inline; margin-left: 5px; padding: 3px 0; }
	.breadcrumbs > ul > li:first-child { margin: 0; }
	.breadcrumbs > ul > li:before { content: '/'; display: inline; margin-right: 7px; font-size: 12px; }
	.breadcrumbs > ul > li:first-child:before { display: none; }

	/* -------------------------------------------------------------------------
        POSTS
    ------------------------------------------------------------------------- */

	.post-page {
		.post-image { text-align: center; }
		.post-image a:hover { @include opacity( .8 ); }
		.post-core { padding: $vs 30px 1px 30px; }
		.post-content { overflow: hidden; }
		.post-content-inner { margin-bottom: $vs; }
		.post-footer { @include list-reset; margin: 0 30px 0 30px; padding: 7px 0 $vs 0; font-size: 0.875em; border-top: 1px solid transparent; }
		.post-footer .ico { position: absolute; top: 4px; left: 0; font-size: 14px; }
		.post-info { position: relative; padding-left: 20px; }
		.post-date { margin-right: 10px; }
		.post-tags { position: relative; margin-top: 4px; padding-left: 20px; }
	}
	.post-navigation {
		ul { @include list-reset; @include clearfix; margin: 0 0 $vs 0; line-height: 1.2em; font-size: 0.875em; }
		.prev { float: left; width: 40%; }
		.next { float: right; width: 40%; text-align: right; }
		.m-has-thumb { min-height: 50px; }
		.m-has-thumb .prev-inner { position: relative; padding-left: 60px; }
		.m-has-thumb .next-inner { position: relative; padding-right: 60px; }
		.nav-thumb { position: absolute; top: 0; width: 50px; }
		.prev .nav-thumb { left: 0; }
		.next .nav-thumb { right: 0; }
		h5 { margin: 0; font-size: 0.875em; text-transform: uppercase; }
	}

	/* -------------------------------------------------------------------------
        NOTICES
    ------------------------------------------------------------------------- */

	.notice-page {
		.notice-image { text-align: center; }
		.notice-image a:hover { @include opacity( .8 ); }
		.notice-core { padding: $vs 30px 1px 30px; }
		.notice-footer { @include list-reset; margin: 0 30px 0 30px; padding: 7px 0 $vs 0; font-size: 0.875em; border-top: 1px solid transparent; }
		.notice-footer .ico { position: absolute; top: 4px; left: 0; font-size: 14px; }
		.notice-date { position: relative; padding-left: 20px; }
	}

	/* -------------------------------------------------------------------------
        EVENTS
    ------------------------------------------------------------------------- */

	.event-page {
		.group-title { margin: 0 0 $vs 0; padding: 10px 30px; font-size: 1em; text-align: center; text-transform: uppercase; }
		.event-image { text-align: center; }
		.event-image a:hover { @include opacity( .8 ); }
		.event-core { padding: $vs 30px 1px 30px; }
		.event-info { @include list-reset; margin-top: $vs / 2; margin-bottom: $vs; padding-top: ( $vs / 2 ) - 8px; font-size: 0.875em; border-top: 1px solid transparent; }
		.event-info > li { display: inline-block; position: relative; margin: 8px 20px 0 0; padding-left: 25px; }
		.event-info .ico { position: absolute; top: -2px; left: 0; font-size: 20px; }
		.event-content { margin-top: - ( $vs / 2 ); padding-top: $vs; border-top: 1px solid transparent; }
	}
	.event-detail-page {
		.event-info { margin-top: -8px; padding-top: 0; border: 0; }
		.event-location .gmap-canvas { width: 100%; height: 400px; }
	}

	/* -------------------------------------------------------------------------
        GALLERIES
    ------------------------------------------------------------------------- */

	.gallery-page {
		.gallery-core { padding: $vs 30px 1px 30px; }
		.gallery-footer { @include list-reset; margin: 0 30px 0 30px; padding: 7px 0 $vs 0; font-size: 0.875em; border-top: 1px solid transparent; }
		.gallery-footer:first-child { padding-top: $vs; border: 0; }
		.gallery-footer .ico { position: absolute; top: 4px; left: 0; font-size: 14px; }
		.gallery-date { position: relative; padding-left: 20px; }
	}
	.gallery-list-page {
		.gallery-title { margin: 0; padding: 8px 10px; font-size: 0.875em; }
	}

	/* -------------------------------------------------------------------------
        DOCUMENTS
    ------------------------------------------------------------------------- */

	.document-page {
		.document-list { @include list-reset; margin-bottom: $vs; }
		.document-list > li { margin-top: $vs / 2; padding-top: $vs / 2; border-top: 1px solid transparent; }
		.document-list > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.document-title { position: relative; margin: 0; font-size: 1em; font-weight: normal; }
		.document-title.m-has-icon { padding-left: 22px; }
		.document-icon { position: absolute; top: 0px; left: 0; font-size: 16px; }
		.document-title a { display: inline-block; }
		.document-filesize { display: inline; font-size: 0.75em; white-space: nowrap; }
		.document-info ul { @include list-reset; font-size: 0.75em; }
		.document-info ul > li { display: inline-block; margin: 5px 10px 0 0; }
	}


/* -----------------------------------------------------------------------------

    6.) WIDGETS

----------------------------------------------------------------------------- */

	.widget {
		p { margin: $vs / 2 0 0 0; }
		p:first-child { margin-top: 0; }
	}

	/* -------------------------------------------------------------------------
        DEFINITION LIST WIDGET
    ------------------------------------------------------------------------- */

	.definition-list-widget {
		dl { @include clearfix; margin: 0; }
		dl > dt { clear: both; float: left; margin: 7px 0 0 0; padding-top: 7px; width: 50%; border-top: 1px solid transparent; }
		dl > dd { float: right; width: 50%; margin-top: 7px; padding-top: 7px; text-align: right; border-top: 1px solid transparent; }
		dl > dt:first-of-type,
		dl > dd:first-of-type { margin-top: 0; padding-top: 0; border: 0; }
	}

	/* -------------------------------------------------------------------------
        LOCALE INFO WIDGET
    ------------------------------------------------------------------------- */

	.locale-info-widget {
		.widget-inner { background-size: cover; background-repeat: no-repeat; }
		ul { @include list-reset; }
		.widget-content > ul > li { @include clearfix; margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		.widget-content > ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.row-title { float: left; width: 40%; text-align: left; }
		.row-title h4 { margin: 0; padding: 3px 0 0 0; font-size: 1em; font-weight: bold; }
		small { display: block; font-size: 0.857em; }
		.row-value { position: relative; float: right; width: 55%; text-align: right; }
		.row-value small { font-size: 0.667em; }
		li.m-loading { text-align: center; }
		li.m-loading .row-title,
		li.m-loading .row-value { display: none; }
		.m-has-bg .widget-title { margin-bottom: 0; }
	}

	/* -------------------------------------------------------------------------
        POSTS WIDGET
    ------------------------------------------------------------------------- */

	.posts-widget {
		ul { @include list-reset; }
		ul > li { margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.post-title { display: inline; margin: 0; font-size: 1em; line-height: 1.3em; font-weight: normal; }
		.post-date { display: inline; font-size: 0.857em; white-space: nowrap; }
		.post-excerpt p { margin: 5px 0 0 0; }
		.m-active a { font-weight: bold; }
	}

	/* -------------------------------------------------------------------------
        NOTICES WIDGET
    ------------------------------------------------------------------------- */

	.notices-widget {
		ul { @include list-reset; }
		ul > li { margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.notice-title { display: inline; margin: 0; font-size: 1em; line-height: 1.3em; font-weight: normal; }
		.notice-date { display: inline; font-size: 0.857em; white-space: nowrap; }
		.notice-excerpt p { margin: 5px 0 0 0; }
		.m-active a { font-weight: bold; }
	}

	/* -------------------------------------------------------------------------
        DOCUMENTS WIDGET
    ------------------------------------------------------------------------- */

	.documents-widget {
		ul { @include list-reset; }
		ul > li { margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.document-inner { position: relative; }
		.document-icon { position: absolute; top: 1px; left: 0; font-size: 14px; }
		.document-title { margin: 0; font-size: 1em; line-height: 1.3em; font-weight: normal; }
		.m-has-icons .document-title { padding-left: 20px; }
		.document-filesize { font-size: 0.857em; white-space: nowrap; }
		.m-active a { font-weight: bold; }
	}

	/* -------------------------------------------------------------------------
        EVENTS WIDGET
    ------------------------------------------------------------------------- */

	.events-widget {
		p { margin: $vs / 2 0 0 0; }
		p:first-child { margin: 0; }
		ul { @include list-reset; }
		ul > li { margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.event-inner { position: relative; }
		.m-has-date .event-inner { padding-left: 50px; min-height: 40px; }
		.event-date { position: absolute; top: 0; left: 0; width: 40px; font-size: 14px; text-align: center; }
		.event-month { display: block; height: 16px; line-height: 16px; font-size: 0.714em; font-weight: bold; text-transform: uppercase; }
		.event-day { display: block; height: 24px; line-height: 22px; font-size: 1.143em; }
		.event-title { margin: 0; font-size: 1em; line-height: 1.3em; font-weight: normal; }
		.event-excerpt p { margin: 5px 0 0 0; }
		.m-active a { font-weight: bold; }
	}

	/* -------------------------------------------------------------------------
        FEATURED GALLERY WIDGET
    ------------------------------------------------------------------------- */

	.featured-gallery-widget {
		.widget-inner { padding: 20px 0 0 0; }
		.widget-title { margin-left: 0; margin-right: 0; }
		.gallery-image a{ display: block; width: 100%; @include opacity( 1 ); }
		.gallery-image a:hover { @include opacity( .8 ); }
		.gallery-image img { display: block; }
		.gallery-info { padding: 5px 20px 0 20px; }
		.gallery-title { display: block; margin: 0; font-size: 1.143em; line-height: 1.3em; }
		.gallery-date { display: block; margin-top: 2px; font-size: 0.857em; white-space: nowrap; }
		.show-all-btn { margin: 0 20px; padding: 10px 0; border: 0; }
	}

	/* -------------------------------------------------------------------------
        GALLERIES WIDGET
    ------------------------------------------------------------------------- */

	.galleries-widget {
		ul { @include list-reset; }
		ul > li { position: relative; margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.gallery-inner { padding-left: 60px; min-height: 50px; }
		.gallery-image { position: absolute; top: 7px; left: 0; width: 50px; }
		ul > li:first-child .gallery-image { top: 0; }
		.gallery-image:hover { @include opacity( .8 ); }
		.gallery-title { display: block; margin: 0; font-size: 1em; line-height: 1.3em; font-weight: normal; }
		.gallery-date { display: block; font-size: 0.857em; white-space: nowrap; }
		.m-active a { font-weight: bold; }
	}

    /* -------------------------------------------------------------------------
        CATEGORIES WIDGET
    ------------------------------------------------------------------------- */

	.categories-widget {
		ul { position: relative; @include list-reset; }
		ul > li { margin-top: 7px; }
		.widget-content > ul > li { margin-top: 7px; padding-top: 7px; border-top: 1px solid transparent; }
		.widget-content > ul > li:first-child { margin-top: 0; padding-top: 0; border: 0; }
		.children { padding: 0 0 2px 20px; }
		.current-cat > a { font-weight: bold; }
	}

	/* -------------------------------------------------------------------------
        IMAGE
    ------------------------------------------------------------------------- */

	.image-widget {
		a > img { @include opacity( 1 ); @include transition( all, 200ms );}
		a:hover > img { @include opacity( .8 ); }
	}

	/* -------------------------------------------------------------------------
        MAILCHIMP SUBSCRIBE
    ------------------------------------------------------------------------- */

	.mailchimp-subscribe-widget {
		.form-fields { position: relative; margin-top: $vs / 2; }
		input { max-width: 100%; }
		.submit-btn { position: absolute; top: 7px; right: 5px; width: 30px; height: 30px; line-height: 30px; }
		.submit-btn .fa-spinner { display: none; }
		.m-loading .fa-spinner { display: block; }
		.m-loading .submit-btn i:first-child { display: none; }
		.submit-btn:active { right: 2px; }
	}


/* -----------------------------------------------------------------------------

    7.) SIDEBAR

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        SIDE MENU
    ------------------------------------------------------------------------- */

	.side-menu { position: relative; margin-bottom: $vs; padding: 7px 20px; border-top: 5px solid transparent; z-index: 30;

		ul { @include list-reset; }
		> ul > li { position: relative; border-top: 1px solid transparent; }
		> ul > li:first-child { border: 0; }
		> ul > li > a { position: relative; display: block; position: relative; left: 0; padding: 7px 0; text-transform: uppercase; }
		.m-active > a { font-weight: bold; }
		.m-has-submenu > a { padding-right: 20px; }
		.m-has-submenu > a:after { @include font-awesome; content: '\f105'; position: absolute; top: 10px; right: 5px; font-size: 14px; font-weight: normal; }

			// submenu
			> ul > li > ul { font-size: 0.875em; }
			ul > li > ul { display: none; position: absolute; left: 100%; top: 0; padding: 5px 15px; width: 220px; z-index: 20; }
			ul > li > ul > li { position: relative; border-top: 1px solid transparent; }
			ul > li > ul > li:first-child { border: 0; }
			ul > li > ul > li.m-hover { z-index: 20; }
			ul > li > ul > li > a { display: block; padding: 7px 0; line-height: 1.3em; border: 0; @include transition( all, 200ms ); }

	}

	// RIGHT SIDE
	.side-menu.m-right-side {
		ul > li > ul { left: auto; right: 100%; }
	}

	// VISIBLE SUBMENU
	.side-menu.m-show-submenu {

		.m-active > ul { display: block; position: relative; top: auto; left: auto; right: auto; width: auto; margin-left: 20px; padding: 0 0 10px 0; z-index: 10; }
		.m-active:last-child > ul { padding-bottom: 0; }

		// 2nd LEVEL
		> ul > .m-active > ul { margin: 0 -20px; padding-left: 30px; padding-right: 20px; }

		// 3+nd LEVEL
		.m-active ul > li > ul { margin-top: -5px; }
		> ul > li > ul .m-active > ul > li { border: 0; }
		> ul > li > ul .m-active ul > li > a { padding: 4px 0; }

	}

    /* -------------------------------------------------------------------------
        WIDGETS
    ------------------------------------------------------------------------- */

	.sidebar {

		.widget { margin-bottom: $vs; font-size: 0.875em; }
		.widget-inner { padding: 20px; overflow: hidden; }
		.widget-title { position: relative; margin: -20px -20px 0 -20px; padding: 20px 20px 15px 20px; font-size: 1.143em; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid transparent; }
		.widget-title.m-has-ico { padding-left: 50px; }
		.widget-ico { position: absolute; top: 19px; left: 20px; font-size: 20px; }
		.show-all-btn { margin: 7px 0 0 0; padding-top: 7px; border-top: 1px solid transparent; }
		.show-all-btn a { position: relative; padding-right: 10px; font-weight: bold; }
		.widget input[type="checkbox"], .widget input[type="radio"] { margin-top: 1px; }

		// ALERT MESSAGE
		.c-alert-message { font-size: 1em; }

		// FEATURED GALLERY WIDGET
		.featured-gallery-widget {
			.widget-inner { padding: 20px 0 0 0; }
			.widget-title { margin-left: 0; margin-right: 0; }
			.gallery-image a{ display: block; width: 100%; @include opacity( 1 ); }
			.gallery-image a:hover { @include opacity( .8 ); }
			.gallery-image img { display: block; }
			.gallery-info { padding: 5px 20px 0 20px; }
			.gallery-title { display: block; margin: 0; font-size: 1.143em; line-height: 1.3em; }
			.gallery-date { display: block; margin-top: 2px; font-size: 0.857em; white-space: nowrap; }
			.show-all-btn { margin: 0 20px; padding: 10px 0; border: 0; }
		}

		// CUSTOM CODE & IMAGE
		.image-widget,
		.custom-code-widget {
			.widget-inner { padding: 0; }
			.widget-title { margin: 0 0 10px 0; padding: 0; }
			.widget-title.m-has-ico { padding-left: 30px; }
			.widget-ico { left: 2px; top: -1px; }
		}

		// MAILCHIMP SUBSCRIBE
		.mailchimp-subscribe-widget {
			.submit-btn { top: 9px; }
		}

	}


/* -----------------------------------------------------------------------------

    8.) FOOTER

----------------------------------------------------------------------------- */

#footer { position: relative; z-index: 10; }
#footer.m-has-bg { margin-top: -100px; }
.footer-bg { position: relative; background-position: center 0; background-repeat: no-repeat; background-size: cover; z-index: 10; }
.footer-bg:before { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100px; }
.footer-inner { position: relative; z-index: 20; }
#footer.m-has-bg .footer-inner { padding-top: 100px; }

	/* -------------------------------------------------------------------------
		FOOTER TOP
	------------------------------------------------------------------------- */

	.footer-top { font-size: 0.875em; }

	/* -------------------------------------------------------------------------
		BOTTOM PANEL
	------------------------------------------------------------------------- */

	#bottom-panel { padding: $vs * 2 0 $vs 0;

		p { line-height: 1.5em; }

		.widget-col:first-child .c-separator:first-child { display: none; }
		.widget { margin-bottom: $vs; }
		.widget-title { margin-bottom: $vs; font-size: 1.286em; text-transform: uppercase; }
		.widget-title.m-has-ico { position: relative; padding-left: 30px; }
		.widget-ico { position: absolute; top: 0; left: -1px; font-size: 20px; }
		.show-all-btn { margin: 7px 0 0 0; padding-top: 7px; border-top: 1px solid transparent; }
		.show-all-btn a { position: relative; padding-right: 10px; font-weight: bold; }

		// FORMS
		input { font-size: 14px; }

		// ALERT MESSAGE
		.c-alert-message { padding: 15px 20px 15px 45px; font-size: 1em; border: 1px solid transparent; }
		.c-alert-message .ico { top: 15px; left: 15px; font-size: 20px; }

	}

	/* -------------------------------------------------------------------------
		FOOTER BOTTOM
	------------------------------------------------------------------------- */

	.footer-bottom { position: relative; }
	.footer-bottom:before { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 10; }
	.footer-bottom-inner { position: relative; padding: $vs 0 40px 0; z-index: 20; }

	// FOOTER SOCIAL
	.footer-social { position: absolute; top: -20px; left: 0; right: 0; text-align: center; }

	// FOOTER MENU
	.footer-menu { float: right; max-width: 40%; font-size: 0.875em; }
	.footer-menu ul { @include list-reset; }
	.footer-menu ul > li { display: inline-block; margin: 0 0 3px 14px; }

	// FOOTER TEXT
	.footer-text { float: left; max-width: 40%; font-size: 0.75em; line-height: 1.3em; }
	.footer-text > p { margin: ( $vs / 2 ) 0 0 0; }
	.footer-text > p:first-child { margin-top: 0; }


/* -----------------------------------------------------------------------------

    9.) OTHER

----------------------------------------------------------------------------- */

	/* -------------------------------------------------------------------------
        MAGNIFIC POPUP
    ------------------------------------------------------------------------- */

	.mfp-fade.mfp-bg.mfp-ready { @include opacity( .9 ); }
	.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close,
	.mfp-title, .mfp-counter { color: #FFF; }
	.mfp-arrow { @include transition( all, 300ms ); }
	.mfp-arrow,
	.mfp-arrow:focus { @include opacity( .6 ); }
	.mfp-arrow:active,
	.mfp-arrow:hover { @include opacity( 1 ); }
	.mfp-removing .mfp-arrow { @include opacity( 0 ); }
	.mfp-figure:after { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
	.mfp-arrow:active { margin-top: -55px; }
	.mfp-arrow,
	.mfp-arrow:after { border: 0; }
	.mfp-arrow:before { font-size: 48px; color: #FFF; @include font-awesome; border: 0; }
	.mfp-arrow-left:before { content: "\f104"; }
	.mfp-arrow-right:before { content: "\f105"; }
	.mfp-arrow-left { left: 10px; }
	.mfp-arrow-left:active { left: 5px; }
	.mfp-arrow-right { right: 10px; }
	.mfp-arrow-right:active { right: 5px; }

	/* -------------------------------------------------------------------------
        STYLE SWITCHER
    ------------------------------------------------------------------------- */

	#style-switcher { position: fixed; top: 200px; left: -210px; width: 210px; z-index: 50; @include transition( all, 300ms ); }
	#style-switcher.m-active { left: 0; }
	.style-switcher-toggle { display: block; position: absolute; top: 0; right: -50px; width: 50px; height: 50px; cursor: pointer;
		color: #FFF; background-color: #0C0C0C; background-color: rgba( #0C0C0C, .8 );
		> .ico { position: relative; top: 1px; font-size: 24px; }
	}
	.style-switcher-toggle:focus { outline: 0; }
	.style-switcher-content { padding: 20px 20px 15px 20px; color: #7f808a; background-color: #0C0C0C; background-color: rgba( #0C0C0C, .8 );

		// SKIN LIST
		.skin-list { @include list-reset;
			> li { display: inline-block; margin-right: 6px; }
			> li:last-child { margin-right: 0; }
			> li > button { display: block; width: 28px; height: 28px; @include opacity(1); @include transition( all, 300ms ); }
			> li > button:focus { outline: 0; }
			> li > button.m-active { cursor: default; -moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.9); -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.9); box-shadow: 0 0 0 2px rgba(255,255,255,0.9); }
			> li > button { text-align: center; line-height: 28px; }
			> li > button.skin-1 { background-color: #EC5237; }
			> li > button.skin-2 { background-color: #2196F3; }
			> li > button.skin-3 { background-color: #4CAF50; }
			> li > button.skin-4 { background-color: #FB8C00; }
			> li > button.skin-5 { background-color: #607D8B; }
		}

	}


/* -----------------------------------------------------------------------------

    10.) RESPONSIVE

----------------------------------------------------------------------------- */

	#media-query-breakpoint { font-family: '1200'; }

	/* -------------------------------------------------------------------------
        EXTRA LARGE DEVICES
    ------------------------------------------------------------------------- */

	@media ( max-width: 1299px ) {

	#media-query-breakpoint { font-family: '1299'; }

		// COMPONENTS
		.c-directory.m-4-columns .directory-menu > ul > li { width: 50%; }
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(4n+1) { clear: none; }
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(2n+1) { clear: left; }

	}

    /* -------------------------------------------------------------------------
        LARGE DEVICES
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		html { -webkit-text-size-adjust: auto; }

		// COMPONENTS
		.c-directory.m-3-columns .directory-menu > ul > li { width: 50%; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(3n+1) { clear: none; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(2n+1) { clear: left; }

		// WIDGETS
		.locale-info-widget .local-icon { right: 50px; }

		#media-query-breakpoint { font-family: '1199'; }
	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		// COMPONENTS
		.c-container { padding-left: 20px; padding-right: 20px; }
		.c-directory.m-3-columns .directory-menu > ul > li { width: 33%; }
		.c-directory.m-4-columns .directory-menu > ul > li { width: 25%; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(2n+1),
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(2n+1) { clear: none; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(3n+1),
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(4n+1) { clear: left; }

		// HEADER
		.m-header-map-active #header { padding-top: 520px; min-height: 0; }
		.header-content { padding-bottom: $vs / 2; }
		.header-branding { float: none; padding: 20px 0; }
		.header-branding a { display: block; position: static; }
		.header-branding span { text-align: center; }
		.m-header-map-active .header-branding { margin-top: 0; }
		.header-toggle-holder { display: block; }
		.header-tools { display: none; position: relative; top: auto; right: auto; margin-bottom: $vs / 2; }
		.header-search { float: none; margin: 0 0 $vs / 2 0; }
		.header-search input { max-width: 100%; }
		.header-tools .header-gmap-switcher { display: none; }

			// HEADER MENU
			.m-has-standard-menu .header-menu,
			.header-menu { display: none; margin-bottom: $vs / 2; }
			.m-has-standard-menu .header-menu { float: none; }
			.m-has-standard-menu.m-has-header-tools .header-menu { margin-top: 0; }
			.header-menu { padding: 5px 20px;

				ul { @include list-reset;  }
				> ul > li { display: block; position: relative; border-top: 1px solid transparent; }
				> ul > li:first-child { border: 0; }
				> ul > li > a { position: relative; display: block; position: relative; padding: 7px 0; text-transform: uppercase; }
				> ul > li.m-has-submenu > a:after { display: none; }
				> ul > li.m-hover > a,
				> ul > li > a:hover { text-decoration: none; }
				> ul > li.m-active > a,
				.current-menu-ancestor > a,
				.current_page_ancestor > a,
				.current_page_parent > a,
				.current_page_item > a,
				.current-menu-item > a { font-weight: bold; }
				.m-has-submenu > a { padding-right: 40px; }
				.submenu-toggle { display: block; position: absolute; top: 1px; right: 0; width: 30px; height: 30px; font-size: 18px; }
				.submenu-toggle i:before { content: '\f107'; }
				.submenu-toggle.m-active i:before { content: '\f106'; }

				// SUBMENU 1
				> ul > li > ul { margin: 0 -20px; }
				> ul > li > ul > li { border-top: 1px solid transparent; }

				// SUBMENU 2+
				ul ul ul ul,
				ul ul ul,
				ul ul { display: none; position: relative; left: auto; right: auto; top: auto; padding: 5px 20px 5px 20px; width: auto; }
				ul ul .submenu-toggle { height: 30px; }
				ul ul .m-has-submenu > a:after { display: none; }
				ul ul li > a { display: block; padding: 7px 0; line-height: 1.3em; border: 0; }
				ul ul li:first-child { border: 0; }
				ul ul ul li { border: 0; }
				> ul > li > ul ul { margin-top: -5px; padding-bottom: 10px; }
				> ul > li > ul ul > li > a { padding: 4px 0; }
				> ul > li.m-penultimate > ul ul,
				> ul > li.m-last > ul ul { right: auto; }

			}

		// WIDGETS
		.widget.locale-info-wiget .local-icon { right: 60px; }

		// SIDEBAR
		.side-menu { display: none; }

		#media-query-breakpoint { font-family: '991'; }
	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		// COMPONENTS
		.c-directory.m-3-columns .directory-menu > ul > li,
		.c-directory.m-4-columns .directory-menu > ul > li { width: 50%; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(3n+1),
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(4n+1) { clear: none; }
		.c-directory.m-3-columns .directory-menu > ul > li:nth-child(2n+1),
		.c-directory.m-4-columns .directory-menu > ul > li:nth-child(2n+1) { clear: left; }

		// FOOTER
		.footer-menu,
		.footer-text { float: none; max-width: 100%; text-align: center; }
		.footer-menu { margin-bottom: $vs / 2; }
		.footer-menu:last-child { margin-bottom: 0; }

		#media-query-breakpoint { font-family: '767'; }
	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		// COMPONENTS
		.c-container { padding-left: 15px; padding-right: 15px; }
		.c-content-box { padding-left: 20px; padding-right: 20px; }
		.c-post-list .post-list-inner { padding: 0 20px $vs / 2 20px; }
		.c-post-list .post-list-content { margin-left: -20px; margin-right: -20px; }
		.c-post-list .post-core { padding-left: 20px; padding-right: 20px; }
		.c-post-list .post .post-title { padding: 0; }
		.c-post-list .post .post-date { position: relative; top: auto; right: auto; margin-top: 5px; text-align: left; }
		.c-post-list .post,
		.c-post-list .more-btn-holder { margin-left: 20px; margin-right: 20px; }
		.c-definition-list {
			dl > dt { float: none; clear: both; width: auto; }
			dl > dd { float: none; margin: 0; padding: 0; width: auto; text-align: left; border-top: 0; }
		}
		.c-directory.m-2-columns .directory-menu > ul > li,
		.c-directory.m-3-columns .directory-menu > ul > li,
		.c-directory.m-4-columns .directory-menu > ul > li { width: 100%; float: none; }
		.c-gallery {
			.gallery-images.m-3-columns > li,
			.gallery-images.m-4-columns > li,
			.gallery-images.m-5-columns > li { width: 50%; }
			.gallery-images.m-3-columns > li:nth-child(3n+1),
			.gallery-images.m-4-columns > li:nth-child(4n+1),
			.gallery-images.m-5-columns > li:nth-child(5n+1) { clear: none; }
			.gallery-images.m-3-columns > li:nth-child(2n+1),
			.gallery-images.m-4-columns > li:nth-child(2n+1),
			.gallery-images.m-5-columns > li:nth-child(2n+1) { clear: left; }
		}
		.gmap-canvas { height: 250px; }
		.c-slider .slide-content { padding-left: 20px; padding-right: 20px; }
		.c-team-member .member-portrait { position: relative; }
		.c-team-member.m-has-portrait .team-member-inner { padding-left: 0; min-height: 0; }

		// HEADER
		.m-header-map-active #header { padding-top: 260px; }
		.header-gmap .gmap-canvas { height: 250px; }

		// CORE
		#page-header { padding-left: 20px; padding-right: 20px; }
		.event-single-page .event-location .gmap-canvas { height: 250px; }

		// WIDGETS
		.definition-list-widget dl > dt,
		.definition-list-widget dl > dd { float: none; width: 100%; text-align: left; }
		.definition-list-widget dl > dd { margin: 0; border: 0; }
		.definition-list-widget dl > dt:first-of-type,
		.definition-list-widget dl > dd:first-of-type { padding-top: 7px; }

		#media-query-breakpoint { font-family: '480'; }
	}


/* -----------------------------------------------------------------------------

    11.) PRINT

----------------------------------------------------------------------------- */

@media print {

	// GENERAL
	body { background: white; color: black; }

	// HEADER
	.header-bg,
	.header-tools,
	.header-toggle-holder,
	.header-menu,
	.header-gmap { display: none; }

	// CORE
	.article-navigation,
	.comment-respond { display: none; }

	// SIDEBAR
	.left-column,
	.right-column { display: none; }

	// FOOTER
	#footer { display: none; }

}