@font-face {
  font-family: 'townpress';
  src:  url('../files/library/fonts/townpress.eot?u6p4kh');
  src:  url('../files/library/fonts/townpress.eot?u6p4kh#iefix') format('embedded-opentype'),
    url('../files/library/fonts/townpress.ttf?u6p4kh') format('truetype'),
    url('../files/library/fonts/townpress.woff?u6p4kh') format('woff'),
    url('../files/library/fonts/townpress.svg?u6p4kh#townpress') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tp {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'townpress' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tp-teacup:before {
  content: "\e959";
}
.tp-plane:before {
  content: "\e900";
}
.tp-text-align-left:before {
  content: "\e901";
}
.tp-at-sign:before {
  content: "\e902";
}
.tp-boat:before {
  content: "\e903";
}
.tp-book:before {
  content: "\e904";
}
.tp-briefcase:before {
  content: "\e905";
}
.tp-building:before {
  content: "\e906";
}
.tp-graph:before {
  content: "\e907";
}
.tp-calendar-full:before {
  content: "\e908";
}
.tp-camera2:before {
  content: "\e909";
}
.tp-car:before {
  content: "\e90a";
}
.tp-bubble:before {
  content: "\e90b";
}
.tp-bubbles:before {
  content: "\e90c";
}
.tp-clapboard-play:before {
  content: "\e90d";
}
.tp-clock2:before {
  content: "\e90e";
}
.tp-cross:before {
  content: "\e90f";
}
.tp-cloud:before {
  content: "\e910";
}
.tp-cog:before {
  content: "\e911";
}
.tp-cog2:before {
  content: "\e912";
}
.tp-contacts:before {
  content: "\e913";
}
.tp-reading2:before {
  content: "\e914";
}
.tp-reading:before {
  content: "\e915";
}
.tp-book2:before {
  content: "\e916";
}
.tp-book3:before {
  content: "\e917";
}
.tp-book4:before {
  content: "\e918";
}
.tp-bookmark:before {
  content: "\e919";
}
.tp-cloud-sun:before {
  content: "\e91a";
}
.tp-cloud-fog:before {
  content: "\e91b";
}
.tp-cloud-rain:before {
  content: "\e91c";
}
.tp-cloud-snow:before {
  content: "\e91d";
}
.tp-cloud-lightning:before {
  content: "\e91e";
}
.tp-diamond:before {
  content: "\e91f";
}
.tp-road-sign:before {
  content: "\e920";
}
.tp-envelope:before {
  content: "\e921";
}
.tp-file:before {
  content: "\e922";
}
.tp-papers:before {
  content: "\e923";
}
.tp-fire:before {
  content: "\e924";
}
.tp-archive:before {
  content: "\e925";
}
.tp-bread:before {
  content: "\e926";
}
.tp-cheese:before {
  content: "\e927";
}
.tp-cherry:before {
  content: "\e928";
}
.tp-greek-column:before {
  content: "\e929";
}
.tp-image:before {
  content: "\e92a";
}
.tp-key:before {
  content: "\e92b";
}
.tp-list4:before {
  content: "\e92c";
}
.tp-earth:before {
  content: "\e92d";
}
.tp-map2:before {
  content: "\e92e";
}
.tp-map-marker:before {
  content: "\e92f";
}
.tp-lock:before {
  content: "\e930";
}
.tp-magnifier:before {
  content: "\e931";
}
.tp-man-woman:before {
  content: "\e932";
}
.tp-modules:before {
  content: "\e933";
}
.tp-music-note2:before {
  content: "\e934";
}
.tp-leaf:before {
  content: "\e935";
}
.tp-pine-tree:before {
  content: "\e936";
}
.tp-menu:before {
  content: "\e937";
}
.tp-brush:before {
  content: "\e938";
}
.tp-document:before {
  content: "\e939";
}
.tp-pen-brush:before {
  content: "\e93a";
}
.tp-pencil:before {
  content: "\e93b";
}
.tp-pencil-ruler:before {
  content: "\e93c";
}
.tp-telephone:before {
  content: "\e93d";
}
.tp-pictures:before {
  content: "\e93e";
}
.tp-picture:before {
  content: "\e93f";
}
.tp-home:before {
  content: "\e940";
}
.tp-home2:before {
  content: "\e941";
}
.tp-park:before {
  content: "\e942";
}
.tp-power-switch:before {
  content: "\e943";
}
.tp-reply:before {
  content: "\e944";
}
.tp-planet:before {
  content: "\e945";
}
.tp-road:before {
  content: "\e946";
}
.tp-ruler:before {
  content: "\e947";
}
.tp-lifebuoy:before {
  content: "\e948";
}
.tp-bullhorn:before {
  content: "\e949";
}
.tp-shield:before {
  content: "\e94a";
}
.tp-truck:before {
  content: "\e94b";
}
.tp-smile:before {
  content: "\e94c";
}
.tp-rocket:before {
  content: "\e94d";
}
.tp-basketball:before {
  content: "\e94e";
}
.tp-dumbbell:before {
  content: "\e94f";
}
.tp-football-field:before {
  content: "\e950";
}
.tp-soccer:before {
  content: "\e951";
}
.tp-tennis2:before {
  content: "\e952";
}
.tp-sun:before {
  content: "\e953";
}
.tp-tag:before {
  content: "\e954";
}
.tp-library2:before {
  content: "\e955";
}
.tp-traffic-lights:before {
  content: "\e956";
}
.tp-train:before {
  content: "\e957";
}
.tp-travel-bag:before {
  content: "\e958";
}
.tp-flag:before {
  content: "\e95a";
}
.tp-thumbs-down:before {
  content: "\e95b";
}
.tp-thumbs-up:before {
  content: "\e95c";
}
.tp-window:before {
  content: "\e95d";
}
.tp-text:before {
  content: "\e95e";
}

